.d-flex{
display:flex;
}

.header-component{
  justify-content: space-between;
  box-shadow: 0 3px 7px 1px rgb(0 0 0 / 7%), 0 -3px 7px 1px rgb(0 0 0 / 7%);
}

.links div{
  padding:0px 20px;

}

.links{
  align-items:center;
}

.products{
  display: flex;
  flex-direction: column;
  align-items: inherit;
  width: 900px;
  margin: 0 auto;
}

.container{
  display: flex;
  justify-content: center;
    flex-wrap: wrap;
  
}

.card{
  background-color: #fff;
    border-radius: 25px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 15px 20px;
}